<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<%- include('components/navbar') %>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Biodata</h1>
            <p>Hello nama saya Anggi Junita</p>
            <p>Saya anak pertama dari 3 bersaudara, dan saya mempunyai 1 adik laki-laki dan satu adik perempuan,</p>
            <p>Saya kuliah di politeknik Negeri Ketapang Jurusan Teknik Informatika</p>
            <p>dan sekarang sudah maemasuki semester IV</p>

        </div>
    </div>
</main>
	
	<footer>
		<p class="text-center text-muted">© Copyright 2021 Anggi Junita</p>
	</footer>
</body>
</html>