<!DOCTYPE html>
<html>
<head>
	<title>Anggi Junita</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<%- include('components/navbar') %>
	
<main>
    <div class="jumbotron">
        <h1>Selamat Datang</h1>
        <p>Selamat Datang Di Website Kami</p>
        <p><b>Rujak</b></p>
        <p>Rujak (ejaan bahasa Indonesia) atau Rojak (ejaan Melayu) adalah hidangan salad buah dan sayuran tradisional Indonesia-Jawa, umumnya ditemukan di Indonesia, Malaysia, dan Singapura.[2][3] Selain mengacu pada hidangan salad buah ini, istilah rujak juga berarti "campuran" atau "campuran eklektik" dalam bahasa Melayu sehari-hari.
        Rujak bisa diteukan di semua daerah di seluruh Indonesia, dan ada banyak variasi di dalam negeri. Varian rujak yang paling populer adalah rujak buah, yang merupakan campuran irisan buah dan sayuran yang disajikan dengan saus gula aren pedas.[7] Tidak seperti salad buah pada umumnya, rujak sering digambarkan sebagai salad buah yang tajam dan pedas karena sausnya yang manis dan pedas, yang terbuat dari cabai, gula aren, dan kacang tanah.[8] Rujak juga merupakan makanan jalanan yang populer di Bali.</p>
        <p><b>Rujak juga bagus untuk kesehatan lo</b></p>
    </div>
</main>

	<footer>
		<p class="text-center text-muted">© Copyright 2021 Anggi Junita</p>
	</footer>
</body>
</html>